* {
    transition: 0.2s;
    font-family: sans-serif;
    margin: auto;
}

iframe {
    height: 800px;
    width: 100%;
    display: none;
}

main {
    width: 800px;
    margin: auto;
    text-align: center;
    background-color: #6683cb;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.home {
    width: 40px;
}

body {
    overflow: hidden;
    background-image: linear-gradient(#5272A4, black);
    background-size: 100vw 100vh;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#classes:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

nav {
    background-color: #f9f9f9;
    display: block;
    height: 50px;
    float: left;
    width: 100%;
}

nav li {
    list-style: none;
}

nav li a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

nav ul {
    display: inline;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

nav li a:hover {
    background-color: black;
    color: #f1f1f1;
}

.dropdown span {
    display: inline;
    height: 40px;
    padding: 10px;
    background: #f9f9f9;
    color: black;
    margin: auto;
}

button {
    border: none;
    padding: 20px;
    font-size: 16px;
    background: darkolivegreen;
}

button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.panic {
    background: yellow;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: red;
}

.game {
    display: none;
}

#classes {
    height: 18px;
    display: block;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}

.subject {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 18px;
    float: left;
}

nav {
    clear: both;
}

p {
    font-size: 16px;
}

